@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Poppins:300,400,500,600,700,800,900");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkpink:#dd127b;
}
.darkpink{
    background-color:var(--darkpink);
}
:root{
    --darkred:#dc3545;
}
.text-darkred{
    color:var(--darkred);
}
.text-darkpink{
    color:var(--darkpink);
}
:root{
    --darksilver:#e2e2e2;
}
.darksilver{
    background-color:var(--darksilver);
}
P {
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}

/*============= header start ===========*/
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

/*============== header end ============*/
/*============= navbar start ===========*/
.navbar .navbar-brand,
.navbar .nav-link ,
.navbar .dropdown-item,
.carousel-inner .btn {
    transition: 0.2s linear;
}
.navbar .navbar-brand:hover,
.navbar .nav-link:hover,
.navbar .dropdown-item:hover,
.carousel-inner .btn:hover{
    transition: 0.2s linear;
    transform: scale(1.05);
}
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.dropdown{
    color: var(--bs-navbar-active-color);
}
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.dropdown:hover,
.navbar-nav .dropdown-menu .dropdown-item:hover{
    color:var(--darkpink);
} 
.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-nav .dropdown-menu .dropdown-item,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.dropdown{
    font-size: 17px;
}
/*============== navbar end =============*/

/*============ banner  start ============*/
.carousel-caption a:hover{
    color: #dd127b !important;
}
.carousel-indicators [data-bs-target] {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #dd127b;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 1px solid #fff;
}
.carousel-item .carousel-caption {
    top: 40% ;
    left: 9%;
    right: 9%;
  }
/*============= banner end ============*/

/*============ Our Courses start ==========*/

/*============ Our Courses end ============*/
@media  screen and (max-width:575px) {
    .carousel-item .carousel-caption {
      top: 20% ;
    }
    .carousel-item .carousel-caption h1{
        font-size: 23px;
        margin: 10px 0px;
    }
    .carousel-item .carousel-caption h5{
        font-size: 15px;
    }
    .carousel-item  img{
        height: 200px;
    }
}  
@media  screen and (max-width:575px) {
    .courses-detaile  h3{
        font-size: 20px;
        font-weight: 600;
    }
} 